.button-favorite {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(52, 52, 232);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(52, 52, 232);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(39, 61, 225, 0.5);
  }

  &:active {
    transform: translateY(2px);
  }
}
